@use "../../styles/variables" as *;
.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    color: $color-dark;

    &__items {
        padding: 10px;
        justify-content: center;
        
    }
    &__link {
        border-style :none;
        background-color: $color-white;
        font-size: large;
        cursor: pointer;
    }
    &__button {
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        background-color: $color-white;
        border: 1px $color-grey solid;
        cursor: pointer;
    }
}