@use "../../styles/variables" as *;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.searchfilter{
    border-radius: 5px;
    width: 80%;
    margin-left: 1.875rem;
    margin-bottom: 1.875rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-dark;
    color: $color-white;

    &__title {
        margin-bottom: 10px;
        text-align: center;
        font-size: x-large;
        padding: 10px;
    }

    &__search{
        margin-bottom: 10px;
        background-color: $color-white;
        padding: 5px;
        border: none;
        border-radius: 5px;
        outline: none;
    }
    &__dropdown{
        background-color: $color-white;
        padding: 5px;
        border: none;
        border-radius: 5px;
        outline: none;
    }
    
}

@media screen and (min-width: 425px) {
    .searchfilter {
        margin-left: 40px;
    }
}

@media screen and (min-width: 768px){
    .searchfilter {
        margin-left: 75px;
    }
}

@media screen and (min-width: 1024px){
    .searchfilter {
        margin-left: 100px;
    }
}

@media screen and (min-width: 1440px){
    .searchfilter {
        margin-left: 130px;
    }
    
}