.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 5px;
  color: white;
  border-radius: 20px;
  background-color: #2d3737;

  &__input--text {
      display: flex;
      flex-direction: column;
  }
  &__input--text2 {
    display: flex;
    flex-direction: column;
}
  &__input--images {
      display: flex;
      flex-direction: column;
  }

  &__container--title {
      margin-bottom: 4rem;
    
  }
  &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 2rem;
      
  }

  &__submit {
      background-color: orange;
      padding: 0.5rem;
      border-radius: 1rem;
      margin-right: 1rem;
      margin: 20px;
      border-radius: 20px;
      padding: 20px;
      color: white;
      cursor: pointer;
      border: solid grey 1px
  }
}

.input {
  margin-bottom: 1rem;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}

label {
  text-align: center;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 768px){

  .form {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .input {
    padding: 10px;
  }
}

@media screen and (min-width: 1440px){

  .form {
    width: 80%
    }
  .input {
    padding: 1rem;
    width: 20rem;
  }
  label {
    font-size: x-large;
  }
  .form__submit {
    padding: 20px;
    border-radius: 30px;
    font-size: x-large;
  }

}