.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 5px;
  border: solid 1px black;

  &__input--text {
      display: flex;
      flex-direction: column;
  }
  &__input--text2 {
    display: flex;
    flex-direction: column;
}
  &__input--images {
      display: flex;
      flex-direction: column;
  }

  &__container--title {
      margin-bottom: 4rem;
    
  }
  &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 2rem;
      
  }

  &__submit {
      background-color: white;
      padding: 0.5rem;
      color: black;
      border-radius: 1rem;
      margin-right: 1rem;
  }
}

// .form {
//   display: flex;
//   flex-direction: column;

//   &__submit {
//     background-color: white;
//     padding: 0.5rem;
//     color: black;
//     border-radius: 1rem;
//     margin-right: 1rem;
//   }
//   &__input--text {
//           display: flex;
//           flex-direction: column;
//       }
// }

.input {
  margin-bottom: 1rem;
}

label {
  text-align: center;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 768px){

  .form {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px){

  .form {
    width: 60%
  }
  
}