.form {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 10px;
  border: solid 1px black;

  &__input--text {
      display: flex;
      flex-direction: column;
  }
  &__input--text2 {
    display: flex;
    flex-direction: column;
}

  &__input--images {
      display: flex;
      flex-direction: column;
  }

  &__container--title {
      margin-bottom: 4rem;
      margin-top: 2rem;
  }
  &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 2rem;
      margin-bottom: 5.8rem;
      margin-top: 1rem;
  }

  &__submit {
      background-color: white;
      padding: 0.5rem;
      color: black;
      border-radius: 1rem;
      margin-right: 1rem;

  }
}

.input {
  margin-bottom: 1rem;
}

label {
  text-align: center;
  padding-bottom: 0.5rem;
}