.title {
    padding: 30px;
    margin: 10px;
    text-align: center;
}

.moreinfo {

    border: solid lightgray 3px;
    padding: 20px;
    background-color: #EAEAEA;
    border-radius: 20px;

    text-align: center;

    &__image {
       width:  100%;
       height: auto;
    }
    &__button {
        margin: 20px;
        border-radius: 15px;
        padding: 10px;
        background-color: white;
        color: black;
        cursor: pointer;
    }
    &__name {
        padding: 10px;
    }
    &__description {
        padding: 10px;
    }
    &__price {
        padding: 20px;
    }
    &__swipe {
        color: #EAEAEA;
        font-size: xx-small;
    }   
}

.home {
    padding: 20px;

    &__text {
        padding: 20px;
        margin-top: 20px;
        text-align: center;
    }
}


@media screen and (min-width: 768px){

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    &__images {
        overflow-x: scroll;
        display:flex
    }
    }
    .moreinfo {
        width: 70%;
    
        &__image {
           height: auto;
           width: 100%;
           border: solid 2px  #EAEAEA;
           border-radius: 10px;
        }
        &__swipe {
            margin: 15px;
            color: black !important;
            font-size: x-large !important;
        }
    }

}



