@use "../../styles/variables" as *;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

    &__title {
        color: $color-dark;
    }
}