.title {
  padding: 30px;
  margin: 20px;
  text-align: center;
}

.moreinfo {
  border: solid lightgray 3px;
  padding: 20px;
  color: white;
  border-radius: 20px;
  background-color: #2d3737;
  text-align: center;

  &__image {
    width: 100%;
    height: auto;
  }
  &__button {
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
    background-color: orange;
    color: white;
    cursor: pointer;
    border: solid grey 1px
  }
  &__name {
    padding: 10px;
  }
  &__description {
    padding: 10px;
  }
  &__price {
    padding: 20px;
  }
  &__swipe {
    color:  #2d3737;
    font-size: xx-small;
  }
  &__tags {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    justify-content: center;
    margin: 1rem;
  }
  &__tag {
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 20px;
  }
  &__facts {
    margin-bottom: 2rem;
  }
}

.home {
  padding: 20px;

  &__text {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    &__images {
      overflow-x: scroll;
      display: flex;
    }
  }
  .moreinfo {

    width: 70%;

    &__image {
      height: auto;
      width: 100%;
      border: solid 2px #eaeaea;
      border-radius: 10px;
    }
    &__swipe {
      margin: 15px;
      color: white;
      font-size: large !important;
    }
    &__button {
      padding: 20px;
      font-size: large;
      border-radius: 50px;
    }
  }
}

@media screen and (min-width: 1440px){

  .container {
    font-size: x-large;
  }

  .moreinfo {

    &__button {
      font-size: x-large;
    }
  }
  
}
